<section class="container userRegister ff-inter">
  <header class="header">
    <h2>Cadastro de Usuário</h2>
  </header>
  <form action="">
    <label for="userRegister">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          id="completeName"
          name="completeName"
          placeholder="Seu nome completo"
          [(ngModel)]="user.completeName"
        />
      </div>

      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          id="cpf"
          name="cpf"
          maxlength="11"
          placeholder="Seu cpf (somente números)"
          [(ngModel)]="user.cpf"
        />
      </div>
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          id="email"
          name="email"
          placeholder="Seu email"
          [(ngModel)]="user.email"
        />
      </div>
      <div class="input-group mb-3">
        <input
          type="password"
          class="form-control"
          id="pass"
          name="pass"
          placeholder="Digite sua senha"
          [(ngModel)]="user.pass"
        />
      </div>
      <div class="input-group mb-3">
        <input
          type="password"
          class="form-control"
          id="passConfirmation"
          name="passConfirmation"
          placeholder="Digite novamente a senha"
          [(ngModel)]="user.passConfirmation"
        />
      </div>
      <button class="btn btn-warning" (click)="userRegisterInputClean()">Limpar os campos</button>
      <button class="btn btn-primary" (click)="submitUserRegister()">
        Cadastrar-se
      </button>
    </label>
  </form>
</section>
